{% extends 'base.html.twig' %}
{% block body %}
    <main class="container">
        <h1>Quizzy</h1>
        <div class="counter"></div>
        <div class="status">
            <h2>Database</h2>
            <h3>Added</h3>
            <div class="new"></div>
            <h3>Duplicates</h3>
            <div class="duplicate"></div>
            <h3>success rate</h3>
            <div class="success"></div>
        </div>
        <h2>new questions</h2>
        <ul class="questions">

        </ul>
    </main>
{% endblock %}
